<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}LicenseMyAdmin - Status{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script type="text/javascript" src="/static/bootstrap/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <header id="top">
        <div class="container">
            <ul class="nav navbar-brand">
                <li>LicenseMyAdmin</li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/"><i></i>Status</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/purchase"><i></i>Purchase</a></li>
            </ul>
        </div>
    </header>
    {% block content %}
    <div class="container">
        <h2>Status</h2>
        <h3>License list</h3>
        {{ license_table|safe }}
        <h3>Client list</h3>
        {{ client_table|safe }}
    </div>
    {% endblock %}
    <footer>
        <div class="container">
            <div>
                <h4>LicenseMyAdmin</h4>
                <p> @2020 <a href="https://github.com/HaiyunPresentaion">HaiyunPresentaion</a></p>
            </div>
        </div>
    </footer>
</body>

</html>